body {
    font-family: "Arial", sans-serif;
    text-align: center;
}

.container{
	border: 1px solid black;
}

#scoreCard {
    background-color: green;
    margin-bottom: 10px;
}

#Title{
    justify-content: center;
}

.game--container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 306px;
    margin: 50px auto;
}
.cell {
    font-family: "Permanent Marker", cursive;
    width: 100px;
    height: 100px;
    box-shadow: 0 0 0 1px #333333;
    border: 1px solid #333333;
    cursor: pointer;
	line-height: 100px;
    font-size: 80px;
    text-align: center;
}

.cell:hover {
    background-color: grey;
}

#winnerMessage{
	justify-content: center;
	background-color: green;
}

.game--status {
    visibility: hidden;
}

#btns{
	justify-content: center;
    border-top: 1px solid black;
    padding-top: 1px;
}



